﻿<div class="modal fade" id="htmlobjModalPrint" tabindex="-1" role="dialog">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header">GB-DFE <button type="button" class="close" data-dismiss="modal">&times;</button> </div>
         <div id="panel" class="panel-default">
            <div id="panelcorpo" class="panel-body">
               <div class="col-xs-12 col-sm-12 col-lg-12">
			    <div class="panel panel-default">
                    <div style="width: 100%; height: 100%">
                       <xmlembeded id="obj_xml"  width="100%" style="min-height:600px" src="local.xml"></xmlembeded>
                    </div>
               </div>    
        </div>
      </div>
      </div>
   </div>
</div>
 </div>