﻿<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="assets/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css" rel="stylesheet" />
<link href="assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link href="assets/plugins/DataTables/extensions/AutoFill/css/autoFill.bootstrap.min.css" rel="stylesheet" />
<link href="assets/plugins/DataTables/extensions/ColReorder/css/colReorder.bootstrap.min.css" rel="stylesheet" />
<link href="assets/plugins/DataTables/extensions/KeyTable/css/keyTable.bootstrap.min.css" rel="stylesheet" />
<link href="assets/plugins/DataTables/extensions/RowReorder/css/rowReorder.bootstrap.min.css" rel="stylesheet" />
<link href="assets/plugins/DataTables/extensions/Select/css/select.bootstrap.min.css" rel="stylesheet" />
<!-- ================== END PAGE LEVEL STYLE ================== -->
<div id="content" class="content">
  <!-- begin breadcrumb -->
  <ol class="breadcrumb pull-right">
    <li><a href="javascript:;" data-click="dashboard">Home</a></li>
    <li><a href="javascript:;">Consulta</a></li>
    <li class="active">Manifestos</li>
  </ol>
  <!-- end breadcrumb -->
  <!-- begin page-header -->
  <h1 class="page-header">Manifestos <small id="small-version"> </small></h1>
  <!-- end page-header -->
  <!-- begin row -->
  <div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
      <!-- begin panel -->
      <div class="panel panel-inverse">
        <div class="panel-heading">
          <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
                class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i
                class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i
                class="fa fa-times"></i></a>
          </div>
          <h4 class="panel-title">Manifestos</h4>
        </div>
        <div class="panel-group">
          <div class="panel panel-info">
            <div class="panel-body">Filtros</div>

            <form class="form-inline row well" name="search" id="search"
              style="margin-top: 10px;margin-left: 15px;margin-right: 15px;padding: 5px;">
              <fieldset style="padding-left:20px;padding-top:10px;margin:5px;">
                <label for="selectfiliais"> Empresa :</label>
                <select class="input input-sm form-control user-success" id="selectfiliais" name="selectfiliais"
                  size="1">
                  <option value="0">Nada selecionado </option>
                </select>
               

                <label class="form-check-label" style="padding-right: 5px;padding-left: 10px;">
                  Data inicial: <input type="date" id="dataInicial" class="form-control">
                </label>
                <label class="form-check-label" style="padding-right: 10px;">
                  Data final: <input type="date" id="dataFinal" class="form-control">
                </label>

                <legend>Tipo da data</legend>
                <label><input type="radio" name="tipodata" value="evento" checked =true/> Evento</label> <br />
                <label><input type="radio" name="tipodata" value="documento" /> Documento</label> <br />


                <label for="selectTipoDoc"> Tipo de evento :</label>
                <select class="custom-select mr-sm-2" id="selectTipoDoc">
                  <option value="">Todos</option>
                  <option value="Ciencia da Operacao">Ciencia</option>
                  <option value="Confirmacao da Operacao">Confirmacao</option>
                  <option value="Desconhecimento da Operacao">Desconhecimento</option>
                  <option value="Operacao nao Realizada">Operacao nao realizado</option>
                  <option value="Denegadas">Denegadas</option>
                  <option value="Cancelamento">Operacao cancelada</option>
                  <option value="Terceiros">Terceiros</option>
                </select>
              </fieldset>
            </form>
          </div>

        </div>
        <table id="data-table-emitidos" class="table table-striped table-bordered" style="padding:10px">
          <thead>
            <tr>
              <th>sel</th>
              <th>Cnpj</th>
              <th>Data</th>
              <th>Chave</th>
              <th>Evento</th>
              <th>cstat</th>
              <th>Motivo</th>
              <th>Protocolo</th>

            </tr>
          </thead>
          <tbody>
            <tr class="odd gradeX">
              <td>''</td>
              <td>''</td>
              <td>''</td>
              <td>''</td>
              <td>''</td>
              <td>''</td>
              <td>''</td>
              <td>''</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- end panel -->
  </div>
  <!-- end col-12 -->
</div>
<!-- end row -->
</div>
<!-- end #content -->
<!-- ================== BEGIN PAGE LEVEL JS ================== -->

<script>
  App.restartGlobalFunction();
  App.setPageTitle('GB-DFE | Manifestos');
  $.getScript('assets/plugins/DataTables/media/js/jquery.dataTables.js').done(function () {
    $.getScript('assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js').done(function () {
      $.getScript('assets/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js').done(function () {
        $.getScript('assets/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js').done(function () {
          $.getScript('assets/plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js').done(function () {
            $.getScript('assets/plugins/DataTables/extensions/Buttons/js/jszip.min.js').done(function () {
              $.getScript('assets/plugins/DataTables/extensions/Buttons/js/pdfmake.min.js').done(function () {
                $.getScript('assets/plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js').done(function () {
                  $.getScript('assets/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js').done(function () {
                    $.getScript('assets/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js').done(function () {
                      $.getScript('assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js').done(function () {

                        $.getScript('assets/plugins/DataTables/extensions/Select/js/dataTables.select.min.js').done(function () {
                          $.getScript('assets/plugins/masked-input/masked-input.min.js').done(function () {
                            $.getScript('assets/js2/util/util.forms.js').done(function () {
                              $.getScript('assets/js2/nfe_app.js').done(function () {
                                $.getScript('assets/js2/classes/manifesto_class.js').done(function () {
                                  $.getScript('assets/js2/view/nfe_view_manifestos.js').done(function () {
                                    notaviewMain.init();
                                  });
                                });
                              });
                            });
                          });


                        });
                      });
                    });
                  });
                });
              });
            });
          });
        });
      });
    });
  });

</script>
<!-- ================== END PAGE LEVEL JS ================== -->